@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "components/base";


/* GLOBAL
-------------------------------------------- */ 
html {
    position: relative;
}

body {
    overflow-x: hidden;
}

body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}


/* CONTENT
-------------------------------------------- */
section#hero {
	.section--inner {
		position: relative;

		figcaption {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			padding: 1rem;
			text-align: center;
			@include transform(translate(-50%, -50%));

			h4 {
				@extend .h1;
			}
		}
	}
}
