/* COMPONENTS
-------------------------------------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.black {
        background-color: rgba(0,0,0,0.35);
    }

    &.med {
         background-color: rgba(0,0,0,0.5);
    }
    
    &.dark {
        background-color: rgba(0,0,0,0.8);
    }
}

img {
    width: 100%;
}

.img-fluid {
  @include img-fluid;
}




/* BASE
-------------------------------------------- */
.no-margin {
    margin: 0;
}

.has-ver-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.has-ver-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.w-fit {
    width: 100%;
    display: block;
}

.fheight {
	height: 100%;
}


.container {
    @media (min-width: $bp-xxl) {
        width: 1200px;
        max-width: 100%;
    }

    @media (max-width: $bp-md - 1px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &.container-narrow {
        @media (min-width: $bp-xl) {
            width: 960px;
        }
    }

    &.container-med {
        @media (min-width: $bp-xl) {
            width: 1000px;
        }
    }
}

.row-no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;

    > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.row-xs {
    margin-left: -10px !important;
    margin-right: -10px !important;

    > * {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.row-lg {
    @media (min-width: $bp-xl) {
        margin-left: -40px !important;
        margin-right: -40px !important;

        > * {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
    }
}




/* FLEXBOX
-------------------------------------------- */
.flexed {
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
}

.flexed.justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexed-desktop {
    @media (min-width: $bp-md) {
        -webkit-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        display: flex;
    }
}

.flexed-desktop.justify {
    @media (min-width: $bp-md) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    } 
}

.flexed-mobile {
    @media (max-width: $bp-md - 1px) {
        -webkit-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        display: flex;
    }
}




/* BUTTONS & LINKS
-------------------------------------------- */
.css-close {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    z-index: 5;
    overflow: hidden;

    &:hover {
        &::before, &::after {
            background: #fff;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #9b9b9b;
    }

    &::before {
        @include transform(rotate(45deg));
    }

    &::after {
        @include transform(rotate(-45deg));
    }

    &.thin {
        &::before, &::after {
            height: 1px;
        }
    }
}

.btn,
.link {
    @include transition(all 150ms ease);
    border-radius: 0;
    outline: 0;
    text-decoration: none !important;
    
}

.btn {
    text-transform: uppercase;
	padding: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: none !important;

    &.small-text {
        font-size: 14px;
    }

	&.pad-lg {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	&.curved {
		border-radius: 30px;
	}
}


.btn-block-xs {
    @media (max-width: $bp-md - 1px) {
        display: block;
        width: 100%;
    }
}


.link.link-opaque {
    @include opacity(0.7);

    &:hover {
        @include opacity(1);
    }
}















