/* FONT
-------------------------------------------- */
body,
button,
input,
optgroup,
select,
textarea,
a {
	font-family: 'Aktiv Grotesk', Arial, sans-serif;
	color: inherit;
	font-weight: normal;
}

.f-thin {
  font-weight: 300;
}

.f-reg {
  font-weight: normal;
}

.f-med {
  font-weight: 500;
}

.f-bold {
  font-weight: bold;
}
