@@include('partials/meta.html')

<body class="starter">

@@include('partials/header.html')

<main>
    <section id="hero">
        <div class="section--inner">
            <figure>
                <img src="holder.js/1800x500?random=yes&auto=yes&text= &:nbsp" alt="Hero Image">
            </figure>
            <figcaption class="text-center">
                <h4>Halloween Sale</h4>
            </figcaption>
        </div>
    </section>
    
</main>

@@include('partials/footer.html')

<script>
    $(document).ready(function(){
        
    });

    $(window).load(function(){
        
    });

    $(window).resize(function(){
        
    });
</script>
</body>
</html>
